/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
  color: #6b1a22;
}

.item-join {
  display: flex; 
 justify-content: space-between;
}

h2 {
  font-size: 20px;
  font-weight: 400;
  margin: 0 10px 15px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #a35766;
  color: #ecdbc9;
}

main img {
  width: 100%;
}



/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.input-form {
  flex: 1 5 100px;
  margin: 10px;
}

.item-double {
  flex: 2;
}

.join-double{
  flex: 2;
  flex-wrap: wrap;
}

/* -------  Navigation ------- */

header {
  background-color: #83092e;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  font-family: "Tangerine", cursive;
  font-size: 55px;
  color: #ecdbc9;
}

header nav ul{
  display:flex ;
  flex-direction: row;
  justify-content: center;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #ecdbc9;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Join Form ------- */
form {
  border: 2px solid #6b1a22;
  padding: 10px;
}

form label {
  font-weight: bold;
}


form select,
form input {
  margin-bottom: 20px;
  width: 111px;
}


form button {
  background-color: #83092e;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

/* -------  Footer ------- */

footer {
  background-color: #83092e;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
} 

/* -------  Media Query ------- */
@media all and (min-width: 428px){
  .logo {
    font-family: "Tangerine", cursive;
    font-size: 46px;
    color: #ecdbc9;
  }

  form select, 
  form input {
    margin-bottom: 20px;
    width: 150px;
  }

  .group {
    display: flex;
    flex-direction: row;
  }

  main img {
    width: 100%;
  }

  .input-form {
    flex: 1 5 10px;
    /* margin: 10px; */
    align-self: center;
  }


  .join-double{
    flex: 2 1 100px;
  }

  .about-flex{
      flex: 1 1;
      margin: 10px;
  }

  .about-double{
    flex: 2 1;
    margin: 10px;
    align-self: center;
  }

  .about-font{
    font-size: large;
  }
 
.download-app{
  flex: 1 1 100px;
  align-self:center
}  

.download-flex{
  flex:1 3 100px;
}

.blog-flex{
  flex:2 2 50px;
  margin: 10px;
}

.nav-group {
  flex: 1;
   align-self: center;  
}

.group-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;  
}

h2 {
  font-size: 24px;
  font-weight: 400;
  margin: 0 10px 15px 10px;
  text-align: center;
}
  

}

@media all and (max-width:1023px) and (min-width:500px){
  
  .input-form {
    flex: 1 5 1px;
    margin: 10px;
    align-self: center;
  }

  .join-double{
    flex: 5 1; 
    height: auto;
  }

  form {
    border: 2px solid #6b1a22;
    padding: 10px;
    height: 155px;
    font-size: 10px;  
  }

  .img{
    height: 350px;
  }
  
  form label {
    font-weight: bold;
    font-size:12px;
  }
  
  /* for desktop display set width for input to 180 and for select to 188 */
  form select,
  form input {
    margin-bottom: 10px;
    width: 70px;
  }
  

  form button {
    background-color: #83092e;
    border: none;
    color: #fff;
    font-size: 15px;
    padding: 15px;
    width: 100%;
  }

  h2 {
    font-size: 13px;
    font-weight: 400;
    margin: 0 10px 15px 10px;
    text-align: center;
  }
  .group {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .about-flex{
    flex: 1 1;
    margin: 10px;
}

.about-double{
  flex: 2 1;
  margin: 10px;
}

.download-app{
  flex: 0 3 500px;
  align-self:center;  
  margin-right: 20px;
}  

.download-flex{
  flex:0 3 500px;
}

p{
  font-size: 10px;
}

li{
  font-size: 10px;  
}

.nav-group {
  flex: 1;
   align-self: center;  
}

.group-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;  
}

.nav-group {
  flex: 1;
   align-self: center;  
}

.group-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;  
}
  
}